/**
 * @file
 * SCSS file to generate CSS.
 *
 * Home page SCSS
 */

/*body { font-family: $opensans-regular }*/

#block-views-block-front-content-view-block-1 {
  .form-group {
    .view-content {
      display: inline-block;
      position: relative;
      width: 100%;
      margin-bottom: 68px;
      padding: 30px;
      border: 1px solid $grey-ea;
      text-align: center;
      .views-row {
        display: inline-block;
        float: left;
        width: 25%;
        border-right: 1px solid $grey-ea;
        &:last-child {
          border-right: none;
        }
        img {
          display: inline-block;
          max-height: 30px;
          max-width: 30px;
        }
        .field-content {
          h3 {
            font-size: 19px;
            font-family: $sensserif-semibold;
            margin-bottom: 6px;
          }
          p {
            font-size: 14px;
            color: $grey-89;
          }
        }
      }
    }
  }
}
#block-views-block-second-content-view-block-1 {
  margin-right: -15px;
  margin-left: -15px;
  .view-content {
    display: inline-block;
    margin-bottom: 68px;
    width: 100%;
    .views-row {
      display: inline-block;
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      width: 33.33333333%;
      img {
        max-width: 360px;
        width: 100%;
        max-height: 170px;
      }
      .field-content {
        h3 {
          margin-top: 20px;
          margin-bottom: 4px;
          font-size: 19px;
          font-family: $sensserif-semibold;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
          color: $grey-89;
        }
      }
    }
  }
}
