/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

/**
 * Footer SCSS.
 */
.footer {
  padding-top: 8px;
  padding-bottom: 0;
  border-top: none;
  .region-top-footer {
    display: inline-block;
    width: 100%;
    padding: 10px 0 30px;
    border-top: 1px solid $grey-8d;
    border-bottom: 1px solid $grey-8d;
    nav {
      display: inline-block;
      float: left;
      width: 20%;
      @media (max-width: 992px) {
        width: 50%;
      }
      @media (max-width: 480px) {
        width: 100%;
        display: block;
        clear: left;
      }
      h2 {
        margin-bottom: 17px;
        font-size: 18px;
        font-family: $sensserif-bold;
      }
      ul {
        text-align: left;
        list-style: none;
        li {
          a {
            padding: 1px 0 3px;
            color: #000;
            font-size: 15px;
            font-family: $sensserif-italic;
            line-height: 1.5;
            text-decoration: none;
            background-color: none;
            &:hover {
              background: none;
              color: $grey-8d;
            }
          }
        }
      }
    }
    #block-questions {
      @media (max-width: 992px) {
        clear: left;
      }
    }
    .block-block-content {
      display: inline-block;
      width: 20%;
      @media (max-width: 992px) {
        display: block;
        clear: left;
        width: 50%;
      }
      h3 {
        margin-bottom: 17px;
        font-size: 18px;
        font-family: $sensserif-bold;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
.bottom-footer {
  .footer {
    margin-top: 0;
    #block-footercopyright {
      display: inline-block;
      margin: 8px 0 0;
      @media (max-width: 992px) {
        display: block;
        margin: 4px 0 0;
      }
    }
    #block-footerpayments {
      display: inline-block;
      float: right;
      margin: 8px 0 0;
      @media (max-width: 992px) {
        display: block;
        margin: 6px 0 8px;
      }
    }
  }
}


/*
.footer-top {
  display: inline-block;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid $grey-ea;
  border-bottom: 1px solid $grey-ea;
  font-family: $sensserif-bold;
  .footer-menu {
    float: left;
    width: 20%;
    .menu-title {
      margin: 0;
      padding-bottom: 17px;
    }
    ul {
      padding: 0;
      text-align: left;
      list-style: none;
      a {
        color: $black;
        font-size: 15px;
        font-family: $sensserif-italic;
        line-height: 1.5;
        text-decoration: none;
      }
    }
  }
  .footer-sign-up {
    display: inline-block;
    input[type=search] {
      display: inline-block;
      height: 40px;
      width: 228px;
      margin-bottom: 16px;
      border: 1px solid $black;
      @media (max-width:1199px) {
        width: 187px;
      }
    }
    .search-men {
      height: 40px;
      width: 90px;
      padding: 10px;
      border-radius: 0;
      background: $black;
      margin-right: 4px;
      @media (max-width:1199px) {
        width: 70px;
      }
      &:focus {
        outline: none;
      }
    }
    .search-women {
      height: 40px;
      width: 130px;
      padding: 10px;
      background: #463F3A;
      border-radius: 0;
      box-shadow: none;
      @media (max-width:1199px) {
        width: 111px;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .footer-social-icon {
    a {
      display: inline-block;
      font-size: 35px;
      color: $grey-8d;
      &:hover {
        color: $black;
      }
      .gplus-icon {
        padding-top: 37px;
        font-size: 31px;
      }
      .fb-icon {
        padding-top: 40px;
        font-size: 28px;
      }
      i {
        padding: 35px 0 0 25px;
      }
    }
  }
}
.footer-bottom {
  .copyright {
    display: inline-block;
    margin: 20px 0;
    font-family: $sensserif-italic;
    a {
      color: $grey-8d;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .sponsers {
    display: inline-block;
    float: right;
    margin: 16px 0;
  }
}
.footer-black {
  height: 40px;
  background-color: $black; 
}
*/