/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

/**
 * Top-Header SCSS.
 */
.top-header-content {
  margin-bottom: 12px;
  font-family: $sensserif-semibold;
  color: $grey-89;
  #block-callnow {
    display: inline-block;
    @media (max-width: 480px) {
      display: block;
      margin-top: 6px
    }
    img {
      margin-top: -4px;
    }
  }
  #block-followus {
    display: inline-block;
    float: right;
    @media (max-width: 480px) {
      display: block;
      float: left;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}
/* End */


/**
 * Header SCSS.
 */
.header {
  background-color: $black-41;
  .navbar {
    margin-bottom: 0;
    background-color: $black-41;
    color: $white;
    border: none;
    .region-left-navigation {
      display: inline-block;
      width: 30%;
      margin-top: 4px;
      navbar-brand {
        color: $white;
        &:hover,
        &:focus,
        &:active {
          color: $yellow;
        }
      }
    }
    .navbar-header {
      display: inline-block;
      width: 70%;
      margin-top: 34px;
      margin-bottom: 10px;
      float: right;
      @media (max-width: 767px) {
        display: inline-block;
        width: 100%;
      }
    }
    .region-navigation {
      display: inline-block;
      float: right;
      @media (max-width: 767px) {
        float: left;
      }
      #block-addweb-commerce-account-menu {
        float: right;
        @media (max-width: 767px) {
          padding-left: 20px;
        }
        @media (max-width: 640px) {
          display: block;
          float: left;
          padding-left: 0;
        }
        .menu {
          li {
            display: inline-block;
            @media (max-width: 640px) {
              display: block;
            }
          }
          a {
            color: $white;
            margin-top: -5px;
            font-size: 16px;
            @media (max-width: 640px) {
              padding-left: 0;
            }
            &:hover,
            &:focus,
            &:active {
              background-color: transparent;
              color: $yellow;
            }
          }
        }
      }
      .search-block-form {
        display: inline-block;
        @media (max-width: 640px) {
          display: block;
        }
        form {
          display: inline-block;
          .form-item {
            display: inline-block;
            .input-group {
              float: right;
              .form-search {
                display: inline-block;
                float: right;
                height: 40px;
                width: 293px;
                &:focus {
                  box-shadow: none;
                }
              }
              .input-group-btn {
                width: auto;
                position: absolute;
                .btn-primary {
                  padding: 10px 10px 4px 10px;
                  right: 0;
                  left: 250px;
                  font-size: 17px;
                  background: transparent;
                  color: $black;
                  border: none;
                }
              }
            }
          }
        }
      }
    }
    .navbar-toggle {
      @media (max-width: 640px) {
        margin-top: 120px;
      }
      @media (max-width: 381px) {
        margin-top: 0;
      }
    }
  }
}
.menubar {
  background: $black;
  margin-bottom: 5px;
  .navbar-collapse {
    padding-left: 0;
    @media (max-width: 767px) {
      padding-left: 15px;
    }
    nav {
      .navbar-nav {
        > li {
          a {
            color: $white;
            font-size: 16px;
            font-family: $sensserif-bold;
            text-transform: uppercase;
            &:hover,
            &:focus,
            &:active {
              background-color: transparent;
              color: $yellow;
            }
          }
          &:first-child {
            a {
              padding-left: 0;
              @media (max-width: 767px) {
                padding-left: 15px;
              }
            }
          }
          &.open {
            a {
              background: transparent;
            }
          }
        }
        .dropdown {
          .dropdown-menu {
            background-color: $black;
          }
        }
      }
    }
  }
}
