/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */

/**
 * Top-Header SCSS.
 */
.top-header-content {
  margin-bottom: 12px;
  font-family: $sensserif-semibold;
  color: $grey-89;
  #block-callnow {
    display: inline-block;
    img {
      margin-top: -4px;
    }
  }
  #block-followus {
    display: inline-block;
    float: right;
  }
}
/* End */


/**
 * Header SCSS.
 */
.header {
  background-color: $black-41;
  .navbar {
    margin-bottom: 0;
    background-color: $black-41;
    color: $white;
    border: none;
    .region-left-navigation {
      display: inline-block;
      margin-top: 4px;
    }
    .region-navigation {
      display: inline-block;
      float: right;
      margin-top: 34px;
      .search-block-form {
        display: inline-block;
        form {
          display: inline-block;
          .form-item {
            display: inline-block;
            .input-group {
              float: right;
              .form-search {
                display: inline-block;
                float: right;
                height: 40px;
                width: 293px;
                &:focus {
                  box-shadow: none;
                }
              }
              .input-group-btn {
                .btn-primary {
                  padding: 10px 10px 4px 10px;
                  right: 37px;
                  font-size: 17px;
                  background: transparent;
                  color: $black;
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
/*.header{
  background-color: $black-41;
  .navbar {
    margin-bottom: 0;
    background-color: $black-41;
    color: $white;
    border: none;
    a {
      color: $white;
    }
    .navbar-header {
      display: inline-block;
      width: 100%;
    }
    .region-navigation-collapsible {
      display: inline-block;
      width: 100%;
      .search-block-form {
        display: inline-block;
        width: 100%;
        text-align: right;
      }
      form {
        display: inline-block;
        width: 100%;
        .form-item {
          display: inline-block;
          .input-group {
            float: right;
            .form-search {
              display: inline-block;
              float: right;
              height: 40px;
              width: 293px;
              &:focus {
                box-shadow: none;
              }
            }
            .input-group-btn {
              .btn-primary {
                padding: 10px 10px 4px 10px;
                right: 37px;
                font-size: 17px;
                background: transparent;
                color: $black;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}*/
.menubar {
  background: $black;
  margin-bottom: 5px;
  .navbar-collapse {
    padding-left: 0;
    nav {
      .navbar-nav {
        > li {
          a {
            color: $white;
            font-size: 16px;
            font-family: $sensserif-bold;
            text-transform: uppercase;
            &:hover,
            &:focus,
            &:active {
              background-color: transparent;
              color: $yellow;
            }
          }
          &:first-child {
            a {
              padding-left: 0;
              @media (max-width: 767px) {
                padding-left: 15px;
              }
            }
          }
          &.open {
            a {
              background: transparent;
            }
          }
        }
        .dropdown {
          .dropdown-menu {
            background-color: $black;
          }
        }
      }
    }
  }
}
